<div class="container">
  <h1 class="text-center"><%= pokeInfo.name %></h1>
  <p class="text-center"><a href="/pokemon">Favorites</a></p>
    <div class="well">
      <p>Here are some fun facts about <%= pokeInfo.name %>:</p>
      <p>Height: <%= pokeInfo.height %></p>
      <p>Weight: <%= pokeInfo.weight %></p>
    </div>
</div>